# 14-1 가설 검정이란

# 14-2 t검정 - 두 집단의 평균 비교하기

T test : 두 집단의 평균에 통계적으로 유의미한 차이가 있는지 알아보는 통계 분석 방법

## compact 자동차와 suv 자동차의 도시 연비 t 검정

In [1]:
import pandas as pd
mpg = pd.read_csv('mpg.csv')

In [2]:
# 기술 통계 분석
mpg.query('category in ["compact", "suv"]')\
    .groupby('category', as_index = False) \
    .agg(n    = ('category', 'count'),
        mean  = ('cty', 'mean'))

  category   n      mean
0  compact  47  20.12766
1      suv  62  13.50000

In [3]:
compact = mpg.query('category == "compact"')['cty']
suv = mpg.query('category == "suv"')['cty']

In [4]:
# t - test
from scipy import stats
stats.ttest_ind(compact, suv, equal_var = True)

Ttest_indResult(statistic=11.917282584324107, pvalue=2.3909550904711282e-21)

t test output : reject H0

## 일반 휘발유와 고급 휘발유의 도시 연비 t 검정

In [5]:
# 기술 통계 분석
mpg.query('fl in ["r", "p"]') \
    .groupby('fl', as_index = False) \
    .agg(n     = ('fl', 'count'),
        mean   = ('cty', 'mean'))

  fl    n       mean
0  p   52  17.365385
1  r  168  16.738095

In [6]:
regular = mpg.query('fl == "r"')['cty']
premium = mpg.query('fl == "p"')['cty']


# t - test
stats.ttest_ind(regular, premium, equal_var = True)

Ttest_indResult(statistic=-1.066182514588919, pvalue=0.28752051088667036)

t test output : reject H0

# 14-3 상관분석 - 두 변수의 관계 분석하기

## 실업자 수와 개인 소비 지출의 상관관계

### 1. 상관계수 구하기

In [7]:
# economics 데이터 불러오기
economics = pd.read_csv('economics.csv')

In [8]:
# 상관행렬 만들기
economics[['unemploy', 'pce']].corr()

          unemploy       pce
unemploy  1.000000  0.614518
pce       0.614518  1.000000