# 17-1 자료 구조란

In [1]:
import pandas as pd
df = pd.DataFrame([1, 2, 3])   # make data frame
df.mean()                      # use mean()

0    2.0
dtype: float64

In [2]:
x = [1, 2, 3]                  # make list
x.mean()                       # impossible to use mean()

AttributeError: 'list' object has no attribute 'mean'

In [4]:
df_x = pd.DataFrame(x)          # change to Data Frame
df_x

   0
0  1
1  2
2  3

In [5]:
df_x.mean()                      # use mean()

0    2.0
dtype: float64

# 17-2 스칼라

## 스칼라 만들기