# 16-1 [ ]이용하기

## 조건을 충족하는 행 추출하기

In [1]:
import pandas as pd
df_raw = pd.read_csv('exam.csv')
df = df_raw.head(10)
df

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65
5   6       2    50       89       98
6   7       2    80       90       45
7   8       2    90       78       25
8   9       3    20       98       15
9  10       3    50       98       45

In [3]:
# nclass 추출
df['nclass']

0    1
1    1
2    1
3    1
4    2
5    2
6    2
7    2
8    3
9    3
Name: nclass, dtype: int64

In [4]:
# nclass가 1인지 확인하기
df['nclass'] == 1

0     True
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
9    False
Name: nclass, dtype: bool

In [5]:
# nclass가 1이면 추출
df[df['nclass'] == 1]

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58

In [6]:
# 수학 점수가 80점 이상이면 추출
df[df['math'] >= 80]

   id  nclass  math  english  science
6   7       2    80       90       45
7   8       2    90       78       25

In [7]:
# nclass가 1이면서 수학 점수가 50점 이상
df[(df['nclass'] == 1) & (df['math'] >= 50)]

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60

In [8]:
# 수학 점수가 50점 미만이거나 영어 점수가 50점 미만
df[(df['math'] < 50) | (df['english'] < 50)]

   id  nclass  math  english  science
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65
8   9       3    20       98       15

## 열 추출하기

In [9]:
df['id']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: id, dtype: int64

In [10]:
df['nclass']

0    1
1    1
2    1
3    1
4    2
5    2
6    2
7    2
8    3
9    3
Name: nclass, dtype: int64

In [11]:
df[['id', 'nclass']]

   id  nclass
0   1       1
1   2       1
2   3       1
3   4       1
4   5       2
5   6       2
6   7       2
7   8       2
8   9       3
9  10       3

### 열이 1개일 때 데이터 프레임 자료 구조 유지하기

In [12]:
# 시리즈로 추출
df['id']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: id, dtype: int64

In [13]:
# 데이터 프레임으로 추출
df[['id']]

   id
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

## 조건을 충족하는 행에서 열 추출하기

In [14]:
# nclass가 1인 행의 math 열
df[df['nclass'] == 1]['math']

0    50
1    60
2    45
3    30
Name: math, dtype: int64

In [15]:
# nclass가 1인 행의 math, english 열
df[df['nclass'] == 1][['math', 'english']]

   math  english
0    50       98
1    60       97
2    45       86
3    30       98

# 16-2 df.loc[ ] 이용하기

## 인덱스 활용하기

In [19]:
df = pd.DataFrame({'var1' : [1, 2, 3],
                   'var2' : [4, 5, 6]},
                  index = ['kim', 'lee', 'park'])

In [20]:
df

      var1  var2
kim      1     4
lee      2     5
park     3     6

## 인덱스 문자열을 지정해 행 추출하기

In [21]:
# kim행 추출
df.loc['kim']

var1    1
var2    4
Name: kim, dtype: int64